.title-text{
    color: #DC143C;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 1em;
}

.summary-text{
    color: #C0C0C0;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin: 1em;
}

.date-text{
    

}